*,
*:before,
*:after {
  box-sizing: border-box; }

html {
  height: 100%; }

body {
  font-family: 'Ropa Sans', sans-serif;
  /* fill here */
  font-size: 1.1rem;
  /* additional */
  line-height: 1.6;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(255, 255, 255, 0.7);
  display: flex;
  flex-direction: column;
  margin: 0;
  height: 100%;
  background-image: url("background.gif");
  background-attachment: fixed; }

a,
a:link,
a:hover,
a:visited {
  color: #FFD700;
  text-decoration: none;
  cursor: pointer; }

h1,
h2,
h3 {
  margin: 0;
  font-weight: normal;
  text-align: center; }

header,
footer {
  color: rgba(0, 0, 0, 0.7);
  background-color: rgba(255, 255, 255, 0.7);
  text-align: center; }

body > header,
body > footer {
  padding: .1rem .1rem; }

body > header {
  border-bottom: 1px solid yellow; }

body > footer {
  border-top: 1px solid yellow; }

main {
  flex-grow: 1;
  overflow: auto;
  display: flex;
  flex-wrap: wrap; }

.cards > section {
  width: calc(33% - 1.9rem);
  margin: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  border: 1px solid rgba(255, 255, 0, 0.7);
  border-radius: 3px;
  overflow: hidden;
  /* additional */ }

.cards > section > header {
  border-bottom: 1px solid rgba(255, 255, 0, 0.7); }

.cards > section > header,
.cards > section > div {
  padding: 0.5rem; }

.cards > section ul
.planet ul {
  padding: 0.5rem; }

.cards > section li,
.cards .planet li {
  display: flex;
  padding: 0.2rem; }

.cards > section .label,
.cards .planet .label {
  flex-grow: 0;
  width: 60%; }

.cards > section .gender {
  color: rgba(0, 0, 0, 0.5); }

.cards > section .value,
.cards .planet .value {
  color: #00FFFF; }

/**/
.modal,
.modal > .underlay,
.modal > .body {
  position: absolute; }

.modal,
.modal > .underlay {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; }

.modal {
  height: 0;
  z-index: 10;
  overflow: hidden;
  transition: height 200ms linear; }

.modal.open {
  height: 100%; }

.modal > .underlay {
  z-index: 10;
  background-color: rgba(255, 255, 255, 0.7); }

.modal > .body {
  /* fill here */
  width: 30%;
  height: 45%;
  z-index: 20;
  top: 4.5em;
  left: 40em;
  bottom: 5em;
  display: flex;
  flex-direction: column; }

.modal .controls {
  /* fill here */
  padding: .2em .4em; }

.modal .content {
  /* fill here */
  flex-grow: 1;
  background-color: #000;
  box-shadow: inset 1px 1px 20px rgba(0, 255, 255, 0.9), inset 0.5px 0.5px 10px 0.5px rgba(0, 255, 255, 0.4);
  border-radius: 3px;
  overflow: auto; }

/**/
.cards {
  display: flex;
  flex-wrap: wrap; }

.cards button {
  background-color: rgba(0, 255, 255, 0.7);
  margin: .5rem;
  padding: .5rem; }

.modal h1 {
  padding: .5rem; }

.modal button {
  width: 20%;
  position: absolute;
  bottom: 0;
  left: 10rem; }

main nav {
  margin: 0 auto; }

main nav .previous,
.next {
  margin: .5rem;
  padding: .5rem;
  font-size: 1rem;
  background-color: cyan; }

body > header h1 {
  display: inline-block;
  width: 40%; }

header nav ul li {
  width: 30%;
  list-style: none;
  display: inline-block;
  padding: .5rem; }

header nav ul li a {
  color: rgba(0, 0, 0, 0.7);
  text-shadow: 1px 1px rgba(0, 255, 255, 0.6);
  font-size: 1.5rem;
  font-weight: bold; }
